.sidebarOptions {
    display: flex;
    flex-direction: column;
}
.sidebar {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebar :hover {
    background-color: lightgray;
    border-radius: 5px;
}
.sidebar > img {
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
}
.sidebar > p {
    color: gray;
    font-weight: 400;
    margin-left: 10px;
}
.sidebar > .muiSvgIcon-root {
    color: gray;
    font-size: medium;
    margin-left: 20px;
}
.createText {
    border: none;
    font-size: 13px;
    font-weight: 400;
    width: 50px;
    background-color: rgb(236, 237, 237);
    color: rgb(99, 100, 102);
}
.createSpaceStyle {
    height: 52px;
    width: 106px;
    background-color: rgb(236, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
}